<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Backshots</title>
        <link
            rel="icon"
            href="{{ url_for('static', filename='images/dealer.png') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="terminal-container">
            <header class="terminal-header">
                <h1>CURRENT_ROUND.elf</h1>
            </header>
            <main class="terminal-main">
                <p>Current Rounds:</p>
                <div class="rounds">
                    <p>Live: {{ round_info["lives"] }}</p>
                    {% for live in range(round_info["lives"]) %}
                    <img
                        src="{{ url_for('static', filename='images/live.png') }}"
                    />
                    {% endfor %}
                    <p>Blanks: {{ round_info["blanks"] }}</p>
                    {% for blank in range(round_info["blanks"]) %}
                    <img
                        src="{{ url_for('static', filename='images/blank.png') }}"
                    />
                    {% endfor %}
                </div>
                <div class="probability">
                    <p>Probability:</p>
                    <h2>{{ round_info["probability"] }}</h2>
                </div>
                <div class="button-group">
                    <button onclick="window.location.href='/new_round'">
                        New Round
                    </button>
                </div>
            </main>
            <footer class="terminal-footer">
                <p>&copy; 1998 garrynet</p>
            </footer>
        </div>
    </body>
</html>
